asttokens==2.2.1
attrs==25.3.0
backcall==0.2.0
certifi==2025.8.3
charset-normalizer==2.0.12
decorator==5.2.1
executing==1.2.0
Faker==18.7.0
greenlet==3.2.4
idna==3.10
importlib-resources==5.12.0
iniconfig==2.0.0
ipdb==0.13.13
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.18.2
matplotlib-inline==0.1.6
packaging==23.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
Pygments==2.15.1
pytest==7.3.1
python-dateutil==2.8.2
requests==2.27.1
six==1.16.0
SQLAlchemy==2.0.43
stack-data==0.6.2
tomli==2.2.1
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==1.26.20
wcwidth==0.2.6
